* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to bottom, #439689 20vh, #dadcd6 20vh);
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  height: 750px;
}

/* cambia il colore quando selezionato */
.active {
  background-color: #eaecec;
}


.container {
  display: flex;
  flex: 0 1 1000px;
  /* width: 80vw; */
  height: 90%;
  min-height: 680px;
  /* min-width: 1000px; */
  overflow: hidden;
}

.styleIcon {
  font-size: 25px;
  color: grey;
  /* margin-left: 10px; */
  margin-right: 10px;
}
.fa {
  margin-left: 5px;
  margin-right: 5px;
}

.flexIcon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* MAIN LEFT-------------*/
  #main_left {
    width: 40%;
    min-width: 400px;
    height: 90vh;
    min-height: 300px;
    /* border: 1px solid red; */
    background-color: white;
  }
  #header_left {
    height: 10%;
    min-height: 50px;
    background-color: #ebebeb;
    border-right: 1px solid lightgrey;
  }
  #notify {
    height: 10%;
    min-height: 50px;
    background-color: #a1dafb;
    display: flex;
    flex: 0 0 0;
    align-items: center;
    justify-content: flex-start;
  }
    #circle {
      width: 40px;
      height: 40px;
      background-color: white;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      margin: 20px;
    }
    #circle i {
      color: #a1dafb;
    }
  #search {
    /* position: relative; */
    height: 10%;
    min-height: 50px;
    background-color: #fafafa;

    display: flex;
    align-items: center;
  }
    #search > input {
      width: 90%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid lightgrey;
      /* position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
    }
  #contacts {
    height: 69%;
    min-height: 200px;
    overflow-y: scroll;
  }
  #contacts ol .contact {
    height: 80px;
    /* border: 1px solid black; */
  }
  /* #contacts ol li div {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: lightgrey;
  } */
  #contacts ol li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ebebeb;
  }

  /* #contacts ol li:active,
  #contacts ol li:hover {
    background-color: #eaecec;
  } */
  #contacts ol li img {
    width: 60px;
    border-radius: 50%;
    margin: 10px;
  }
  #user img {
    width: 40px;
    border-radius: 50%;
    margin: 10px;
  }
  #header_left p {
    margin-right: 100px;
  }


  #contacts ol li div {
    height: 60px;
  }



/* MAIN RIGHT---------------- */
#main_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  min-width: 540px;
  height: 90vh;
  min-height: 300px;
  /* border: 2px solid orange; */
}

#header_right {
  height: 10%;
  min-height: 50px;
  min-width: 540px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header_right img {
  width: 40px;
  border-radius: 50%;
  margin: 10px;
  display: inline-block;
}
#header_right .contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

#chat {
  background-image: url(../img/mine.jpg);
  background-size: cover;
  height: 80%;
  min-width: 540px;
  min-height: 300px;
  overflow-y: auto;


  /* display: flex; */

}
#inputChat {
  position: relative;
  bottom: 0;
  right: 0;
  height: 10%;
  min-width: 540px;
  min-height: 50px;
  background-color: #ebebeb;
  border-left: 1px solid lightgrey;

}
#inputChat div input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inputChat i {
  font-size: 25px;
  padding: 20px;
  color: grey;
}

/* .leftChat,
.rightChat {
  width: 50%;
  height: 100%;
} */
.styleBallon {
  position: relative;
  padding: 10px;
}

.message #dataOra {
  position: absolute;
  bottom: 0;
  right: 0;

  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 10px;
  color: darkgray;
}
.greenBalloon {
  width: 60%;
  height: 100px;
  max-width: 350px;
  max-height: 100px;
  border-radius: 10px;
  background-color: #ddf9bc;

  margin-left: 30%;
  margin-top: 50px;
  margin-bottom: 50px;

}
.whiteBalloon {
  width: 60%;
  height: 100px;
  max-width: 350px;
  max-height: 100px;
  border-radius: 10px;
  background-color: white;
  margin: 50px;
}
