* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to bottom, #439689 20vh, #dadcd6 20vh);
  height: 100vh;
}

.container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 90vh;
  min-width: 500px;
  /* background-color: lightgreen; */
  /* border: 1px solid black; */
}

.styleIcon {
  font-size: 25px;
  color: grey;
  /* margin-left: 10px; */
  margin-right: 10px;
}
.fa {
  margin-left: 5px;
  margin-right: 5px;
}

.flexIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MAIN LEFT-------------*/
  #main_left {
    width: 40%;
    min-width: 300px;
    height: 90vh;
    /* border: 1px solid red; */
    background-color: white;
  }
  #header_left {
    height: 10%;
    min-height: 50px;
    background-color: #ebebeb;
    border-right: 1px solid lightgrey;
  }
  #notify {
    height: 10%;
    background-color: #a1dafb;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
    #circle {
      width: 40px;
      height: 40px;
      background-color: white;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      margin: 20px;
    }
    #circle i {
      color: #a1dafb;
    }
  #search {
    position: relative;
    height: 10%;
    background-color: #fafafa;
  }
    #search > input {
      width: 90%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid lightgrey;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  #contacts {
    height: 70%;
  }



/* MAIN RIGHT---------------- */
#main_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  min-width: 200px;
  height: 90vh;
  /* border: 2px solid orange; */
}

#header_right {
  height: 10%;
  min-height: 50px;
  background-color: #ebebeb;
}

#chat {
  background-image: url(../img/mine.jpg);
  background-size: cover;
  height: 80%;
}
#inputChat {
  position: relative;
  bottom: 0;
  right: 0;
  height: 10%;
  background-color: #ebebeb;
  border-left: 1px solid lightgrey;

}
#inputChat div input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inputChat i {
  font-size: 25px;
  padding: 20px;
  color: grey;
}
